# French road accidents 2022
The aim of this analysis is to ...

## Data analysis

In [2]:
import numpy  as np
import pandas as pd

In [13]:
df_victims  = pd.read_csv('usagers-2022.csv'        , sep=';')
df_vehicles = pd.read_csv('vehicules-2022.csv'      , sep=';')
df_caracter = pd.read_csv('carcteristiques-2022.csv', sep=';')
df_places   = pd.read_csv('lieux-2022.csv'          , sep=';')

C:\Users\malou\AppData\Local\Temp\ipykernel_8100\2599317558.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_places   = pd.read_csv('lieux-2022.csv'          , sep=';')

In [14]:
df_victims.head()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1

In [16]:
print("Users - NaN count per column:\n", df_victims.isnull().sum()) # Mainly the birth year of the drivers is missing
print("Vehicles - NaN count per column:\n", df_vehicles.isnull().sum())
print("Characteristics - NaN count per column:\n", df_caracter.isnull().sum())
print("Places - NaN count per column:\n", df_places.isnull().sum())

Users - NaN count per column:
 Num_Acc           0
id_usager         0
id_vehicule       0
num_veh           0
place             0
catu              0
grav              0
sexe              0
an_nais        2874
trajet            0
secu1             0
secu2             0
secu3             0
locp              0
actp              0
etatp             0
dtype: int64
Vehicles - NaN count per column:
 Num_Acc            0
id_vehicule        0
num_veh            0
senc               0
catv               0
obs                0
obsm               0
choc               0
manv               0
motor              0
occutc         93676
dtype: int64
Characteristics - NaN count per column:
 Accident_Id       0
jour              0
mois              0
an                0
hrmn              0
lum               0
dep               0
com               0
agg               0
int               0
atm               0
col               0
adr            1233
lat               0
long              0
dtype: int64
Places - NaN count per column:
 Num_Acc        0
catr           0
voie        4805
v1             0
v2         50047
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     55274
larrout        0
surf           0
infra          0
situ           0
vma            0
dtype: int64

A part of the birth year of the drivers is missing is the dataset of the drivers.

In the case of an accidents, the column 'occutc' of the vehicles dataset counts the number of victims if the accident concerns a common transport vehicle. 

The 'adr' column in the characteristics dataset concerns the postal code of the agglomeration in which the accident took place. Since the accidents does not happen in the