# French road accidents 2022
The aim of this analysis is to ...

## Data analysis

In [2]:
import numpy  as np
import pandas as pd

In [21]:
df_victims  = pd.read_csv('usagers-2022.csv'        , sep=';')
df_vehicles = pd.read_csv('vehicules-2022.csv'      , sep=';')
df_charac   = pd.read_csv('carcteristiques-2022.csv', sep=';')
df_places   = pd.read_csv('lieux-2022.csv'          , sep=';')

C:\Users\malou\AppData\Local\Temp\ipykernel_8100\1046328246.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_places   = pd.read_csv('lieux-2022.csv'          , sep=';')

In [22]:
print(f'The df_victims dataframe looks like :  \n {df_victims.head()} \n')
print(f'The df_vehicles dataframe looks like : \n {df_vehicles.head()}\n')
print(f'The df_charac dataframe looks like :   \n {df_charac.head()}  \n')
print(f'The df_places dataframe looks like :   \n {df_places.head()}  \n')

The df_victims dataframe looks like :
         Num_Acc  id_usager id_vehicule num_veh  place  catu  grav  sexe  \
0  202200000001  1 099 700     813 952     A01      1     1     3     1
1  202200000001  1 099 701     813 953     B01      1     1     1     1
2  202200000002  1 099 698     813 950     B01      1     1     4     1
3  202200000002  1 099 699     813 951     A01      1     1     1     1
4  202200000003  1 099 696     813 948     A01      1     1     1     1

   an_nais  trajet  secu1  secu2  secu3  locp actp  etatp
0   2008.0       5      2      8     -1    -1   -1     -1
1   1948.0       5      1      8     -1    -1   -1     -1
2   1988.0       9      1      0     -1     0    0     -1
3   1970.0       4      1      0     -1     0    0     -1
4   2002.0       0      1      0     -1    -1   -1     -1

The df_vehicles dataframe looks like :
         Num_Acc id_vehicule num_veh  senc  catv  obs  obsm  choc  manv  motor  \
0  202200000001     813 952     A01     1     2    0     2     1     9      1
1  202200000001     813 953     B01     1     7    0     2     2     1      1
2  202200000002     813 950     B01     2     7    0     2     8    15      1
3  202200000002     813 951     A01     2    10    0     2     1     1      1
4  202200000003     813 948     A01     2     7    0     2     1     2      1

   occutc
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

The df_charac dataframe looks like :
     Accident_Id  jour  mois    an   hrmn  lum dep    com  agg  int  atm  col  \
0  202200000001    19    10  2022  16:15    1  26  26198    2    3    1    3
1  202200000002    20    10  2022  08:34    1  25  25204    2    3    1    3
2  202200000003    20    10  2022  17:15    1  22  22360    2    6    1    2
3  202200000004    20    10  2022  18:00    1  16  16102    2    3    8    6
4  202200000005    19    10  2022  11:45    1  13  13103    1    1    1    2

                           adr            lat            long
0       TEIL(vieille route du)  44,5594200000    4,7257200000
1                      Miranda  46,9258100000    6,3462000000
2      ROND POINT DE BREZILLET  48,4931620000   -2,7604390000
3               LOHMEYER (RUE)  45,6926520000   -0,3262900000
4  ROUTE DE JEAN MOULIN-RN 538  43,6755790366    5,0927031775

The df_places dataframe looks like :
         Num_Acc  catr                         voie  v1   v2  circ nbv  vosp  \
0  202200000001     4       TEIL(vieille route du)   0  NaN     2   2     0
1  202200000002     4                          NaN   0  NaN     2   2     0
2  202200000003     3      ROND POINT DE BREZILLET   0  NaN    -1   2     0
3  202200000004     4    QUATORZE JUILLET (RUE DU)   0  NaN     1   1     0
4  202200000005     3  ROUTE DE JEAN MOULIN-RN 538   0  NaN     2   2     0

   prof   pr  pr1  plan lartpc larrout  surf  infra  situ  vma
0     1  (1)  (1)     1    NaN      -1     1      0     1   50
1     1  (1)  (1)     1    NaN      -1     1      0     1   50
2     1    0    0     1    NaN      -1     1      5     1   50
3     2  (1)  (1)     1    NaN       4     1      0     1   30
4     1    8    0     1    NaN      -1     1      0     1   80

In [23]:
print("Users - NaN count per column :          \n", df_victims.isnull().sum())
print("Vehicles - NaN count per column:        \n", df_vehicles.isnull().sum())
print("Characteristics - NaN count per column: \n", df_charac.isnull().sum())
print("Places - NaN count per column:          \n", df_places.isnull().sum())

Users - NaN count per column :
 Num_Acc           0
id_usager         0
id_vehicule       0
num_veh           0
place             0
catu              0
grav              0
sexe              0
an_nais        2874
trajet            0
secu1             0
secu2             0
secu3             0
locp              0
actp              0
etatp             0
dtype: int64
Vehicles - NaN count per column:
 Num_Acc            0
id_vehicule        0
num_veh            0
senc               0
catv               0
obs                0
obsm               0
choc               0
manv               0
motor              0
occutc         93676
dtype: int64
Characteristics - NaN count per column:
 Accident_Id       0
jour              0
mois              0
an                0
hrmn              0
lum               0
dep               0
com               0
agg               0
int               0
atm               0
col               0
adr            1233
lat               0
long              0
dtype: int64
Places - NaN count per column:
 Num_Acc        0
catr           0
voie        4805
v1             0
v2         50047
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     55274
larrout        0
surf           0
infra          0
situ           0
vma            0
dtype: int64

A portion of the birth year data for drivers is missing in the drivers' dataframe.

In the case of accidents, the column 'occutc' in the vehicles dataframe records the number of victims if the accident involves a public transport vehicle.

The 'adr' column in the characteristics dataframe contains the postal code of the agglomeration where the accident occurred. Since accidents do not necessarily happen within an agglomeration, this explains the missing data in this column.

The places dataframe contains several incomplete columns:

'voie': road number
'v2': alphanumeric identifier of the road
'lartpc': width of the road's center terrace, if it exists
We can conclude that the missing data is not critical for our analysis, as it does not introduce any bias into the study.


For more information on the different columns of these datasets, you can have a look at the PDF file 'description-des-bases-de-donnees-annuelles-2022'

In [26]:
print("Users - Percentage of NaN per column:\n", df_victims.isnull().mean() * 100)
print("Vehicles - Percentage of NaN per column:\n", df_vehicles.isnull().mean() * 100)
print("Characteristics - Percentage of NaN per column:\n", df_charac.isnull().mean() * 100)
print("Places - Percentage of NaN per column:\n", df_places.isnull().mean() * 100)

Users - Percentage of NaN per column:
 Num_Acc        0.000000
id_usager      0.000000
id_vehicule    0.000000
num_veh        0.000000
place          0.000000
catu           0.000000
grav           0.000000
sexe           0.000000
an_nais        2.269031
trajet         0.000000
secu1          0.000000
secu2          0.000000
secu3          0.000000
locp           0.000000
actp           0.000000
etatp          0.000000
dtype: float64
Vehicles - Percentage of NaN per column:
 Num_Acc         0.000000
id_vehicule     0.000000
num_veh         0.000000
senc            0.000000
catv            0.000000
obs             0.000000
obsm            0.000000
choc            0.000000
manv            0.000000
motor           0.000000
occutc         99.135386
dtype: float64
Characteristics - Percentage of NaN per column:
 Accident_Id    0.000000
jour           0.000000
mois           0.000000
an             0.000000
hrmn           0.000000
lum            0.000000
dep            0.000000
com            0.000000
agg            0.000000
int            0.000000
atm            0.000000
col            0.000000
adr            2.229576
lat            0.000000
long           0.000000
dtype: float64
Places - Percentage of NaN per column:
 Num_Acc     0.000000
catr        0.000000
voie        8.688655
v1          0.000000
v2         90.497631
circ        0.000000
nbv         0.000000
vosp        0.000000
prof        0.000000
pr          0.000000
pr1         0.000000
plan        0.000000
lartpc     99.949369
larrout     0.000000
surf        0.000000
infra       0.000000
situ        0.000000
vma         0.000000
dtype: float64